{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mini Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'publicStatic/fonts/icomoon/style.css' %}">
        <link rel="stylesheet" href="{% static 'publicStatic/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'publicStatic/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'publicStatic/css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'publicStatic/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'publicStatic/css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'publicStatic/css/bootstrap-datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'publicStatic/fonts/flaticon/font/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'publicStatic/css/aos.css' %}">

        <link rel="stylesheet" href="{% static 'publicStatic/css/style.css' %}">
    </head>
    <body>

        <div class="site-wrap">

            <div class="site-mobile-menu">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>

            <header class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="navbar navbar-expand-lg">

                                <a class="navbar-brand" href="index.html">Logo</a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#worldNav" aria-controls="worldNav" aria-expanded="true" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="navbar-collapse collapse show" id="worldNav" style="">
                                    <div id="search-wrapper">
                                        <form action="#">
                                            <input type="text" id="search" placeholder="Search something...">
                                            <div id="close-icon"></div>
                                            <input class="d-none" type="submit" value="">
                                        </form>
                                    </div>
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <!-- <a class="dropdown-item" href="index.html">Home</a> -->
                                                {% block cat %}

                                                {% endblock %}
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about">About</a>
                                        </li>
                                        <li class="nav-item">
                                            {% if request.user.is_authenticated %}
                                                <span class="nav-link"><a href="#">Logout</a></span>
                                            {% else %}
                                                <span class="nav-link"><a href="#">Login</a>/<a href="#">Register</a></span>
                                            {% endif %}
                                        </li>
                                    </ul>

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

            {% block content %}
            
            {% endblock %}

            <div class="site-footer">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <h3 class="footer-heading mb-4">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
                        </div>
                        <div class="col-md-3 ml-auto">
                            <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                            <ul class="list-unstyled float-left mr-5">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Advertise</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Subscribes</a></li>
                            </ul>
                            <ul class="list-unstyled float-left">
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Nature</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">


                            <div>
                                <h3 class="footer-heading mb-4">Connect With Us</h3>
                                <p>
                                    <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                                    <a href="#"><span class="icon-twitter p-2"></span></a>
                                    <a href="#"><span class="icon-instagram p-2"></span></a>
                                    <a href="#"><span class="icon-rss p-2"></span></a>
                                    <a href="#"><span class="icon-envelope p-2"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="{% static 'publicStatic/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'publicStatic/js/jquery-migrate-3.0.1.min.js' %}"></script>
        <script src="{% static 'publicStatic/js/jquery-ui.js' %}"></script>
        <script src="{% static 'publicStatic/js/popper.min.js' %}"></script>
        <script src="{% static 'publicStatic/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'publicStatic/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'publicStatic/js/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'publicStatic/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'publicStatic/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'publicStatic/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'publicStatic/js/aos.js' %}"></script>
        <script src="{% static 'publicStatic/js/main.js' %}"></script>
        <script>
            let like = document.querySelector("#like");
            let imgState = document.querySelector("#imgState");
            let imgAdd = document.createElement("img");
            likeState = like.textContent;

            getFirstValue(likeState,1);

            like.addEventListener('click', (ev)=>{
                console.log('addEventListener')
                if(like.textContent=='like')
                {
                    AffectLike();
                    getFirstValue('like',0);
                }
                else if(like.textContent=='dislike')
                {
                    AffectDislike();
                    getFirstValue('dislike',0);
                } 
            });

            // function chooseReact()
            // {
            //     console.log("done");
            //     let pick = document.createElement('p');
            //     let like = document.createElement('span');
            //     let dislike = document.createElement('span');
            //     pick.appendChild(like);
            //     pick.appendChild(dislike);
            //     like.appendChild(pick);
            //     pick.style.zIndex="1";
            // }
            
            function AffectLike()
            {
                imgAdd.src="{% static 'publicStatic/images/dislike2.png' %}";
                imgAdd.width="20";
                imgAdd.hieght="20";
                imgState.insertBefore(imgAdd, imgState.firstChild);
            }
            function AffectDislike()
            {
                imgAdd.src="{% static 'publicStatic/images/like.png' %}";
                imgAdd.width="20";
                imgAdd.hieght="20";
                imgState.insertBefore(imgAdd, imgState.firstChild);
            }

            function getFirstValue(reactStatex, refreshx)
            {
                postId='{{post.id}}';
                userId='{{request.user}}';
                const Http = new XMLHttpRequest();
                
                const url=`/posts/like/${postId}/${userId}/${reactStatex}/${refreshx}`;
                Http.open("GET", url);
                Http.send();

                Http.onreadystatechange = (e) => {
                  // console.log(Http.response)
                    if (Http.readyState==4 && Http.status==200)
                    {
                        let likeStatex = Http.response
                        if(likeStatex=='like')
                        {
                            console.log(likeStatex);
                            like.textContent='dislike';
                        }
                        else if(likeStatex=='dislike')
                        {
                            console.log(likeStatex);
                            like.textContent='like';
                        }
                        Http.abort();
                    }
                }
            }
        </script>

    </body>
</html>