{% extends "./base.html" %}
{% load static %}
{% block content %}
<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">
            <div class="col-lg-2"></div>
            <div class="col-md-12 col-lg-8 main-content">
                <h3>By {{post.author}}</h3>
                <div class="post-content-body">
                    <div class="row mb-5 mt-3">
                        <div class="col-md-12 mb-4">
                            <img src="{{post.thumbnail.url}}" alt="Image placeholder" class="img-fluid rounded">
                        </div>
                    </div>
                    <p>{{post.abstractBody}}</p>
                </div>


                <div class="pt-5">
                    <p>Categories:  <a href="#">Food</a>, <a href="#">Travel</a>  Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p>
                </div>
                {%if request.user.is_authenticated%}
                <div class="container">
                    <div class="row text-center smaller bg-light">
                        <div class="col-1">
                            <a href="#ttt" role="button">Like</a>
                        </div>
                        <div class="col-2">
                            <a href="#ttt" role="button">Dislike</a>
                        </div>
                        <div class="col-1">
                            <a href="#comment" role="button">
                                Comment
                            </a>
                        </div>
                    </div>
                </div>
              {% else %}
              <h5 class="meta" style="color: rgb(255,0,0);" > nfortunately you can't see a likes on this posts subscribe now 
              with us to know everything new <a href="/register">Register</a></h5>

              {% endif%}

                <div class="pt-5">
                    <h3 class="mb-5">6 Comments</h3>
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard">
                                <img src="{% static 'publicStatic/images/avatar.jpg' %}" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>Jean Doe</h3>
                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply rounded">Reply</a></p>
                            </div>
                        </li>

                        <li class="comment">
                            <div class="vcard">
                                <img src="{% static 'publicStatic/images/avatar.jpg' %}" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>Jean Doe</h3>
                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply rounded">Reply</a></p>
                            </div>

                            <ul class="children">
                                <li class="comment">
                                    <div class="vcard">
                                        <img src="{% static 'publicStatic/images/avatar.jpg' %}" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>Jean Doe</h3>
                                        <div class="meta">January 9, 2018 at 2:21pm</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                        <p><a href="#" class="reply rounded">Reply</a></p>
                                    </div>


                                    <ul class="children">
                                        <li class="comment">
                                            <div class="vcard">
                                                <img src="{% static 'publicStatic/images/avatar.jpg' %}" alt="Image placeholder">
                                            </div>
                                            <div class="comment-body">
                                                <h3>Jean Doe</h3>
                                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                                <p><a href="#" class="reply rounded">Reply</a></p>
                                            </div>

                                            <ul class="children">
                                                <li class="comment">
                                                    <div class="vcard">
                                                        <img src="{% static 'publicStatic/images/avatar.jpg' %}" alt="Image placeholder">
                                                    </div>
                                                    <div class="comment-body">
                                                        <h3>Jean Doe</h3>
                                                        <div class="meta">January 9, 2018 at 2:21pm</div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                                        <p><a href="#" class="reply rounded">Reply</a></p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="comment">
                            <div class="vcard">
                                <img src="{% static 'publicStatic/images/avatar.jpg' %}" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>Jean Doe</h3>
                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply rounded">Reply</a></p>
                            </div>
                        </li>
                    </ul>
                    <!-- END comment-list -->
                    {%if request.user.is_authenticated%}
                    <div class="comment-form-wrap pt-5" id="comment">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form action="#" class="p-5 bg-light">

                            <div class="form-group">
                                <label for="message">Comment</label>
                                <textarea name="" id="message" cols="30" rows="4" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn btn-primary">
                            </div>

                        </form>
                    </div>
                    {% else %}
                    <h5 class="meta" style="color: rgb(255,0,0);" > unfortunately you can't make a comment subscribe now 
                    with us to know everything new  <a href="/register">Register</a></h5>
                 
                       
                


                    {% endif%}

                </div>

            </div>

            <!-- END main-content -->


        </div>
    </div>
</section>
{% endblock %}