{% extends "./base.html" %}
{% load static %}
{% block content %}
<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">
            <div class="col-lg-2"></div>
            <div class="col-md-12 col-lg-8 main-content">
                <h3>By {{post.author}}</h3>
                <div class="post-content-body">
                    <div class="row mb-5 mt-3">
                        <div class="col-md-12 mb-4">
                            <img src="{{post.thumbnail.url}}" alt="Image placeholder" class="img-fluid rounded">
                        </div>
                    </div>
                    <p>{{post.abstractBody}}</p>
                </div>


                <div class="pt-5">
                    <p>Categories:  <a href="#">Food</a>, <a href="#">Travel</a>  Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p>
                </div>

                <div class="container">
                    <div class="row text-center smaller bg-light">
                      {% if request.user.is_authenticated %}
                        <div class="col-2" id="imgState">
                            <u id="like">like</u>
                        </div>
                        {% endif %}

                        <div class="col-1">
                            <a href="#comment" role="button">
                                Comment
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <h3 class="mb-5">6 Comments</h3>
                    <ul class="comment-list">
                        {% for d in data %}
                        <li class="comment">
                            <div class="vcard">
                                <img src="{% static 'publicStatic/images/avatar.jpg' %}" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>{{d.comm.user_name}}</h3>
                                <div class="meta">January 9, 2018 at 2:21pm</div>
                                <p>{{d.comm.content}}</p>
                                <p><a href="#" class="reply rounded">Reply</a></p>
                            </div>
                            {% if d.rep %}
                            <ul class="children">
                                <li class="comment">
                                    <div class="vcard">
                                        <img src="{% static 'publicStatic/images/avatar.jpg' %}" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>{{d.rep.user_name}}</h3>
                                        <div class="meta">January 9, 2018 at 2:21pm</div>
                                        <p>{{d.rep.content}}</p>
                                    </div>
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor%}
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5" id="comment">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form action="#" class="p-5 bg-light">

                            <div class="form-group">
                                <label for="message">Comment</label>
                                <textarea name="" id="message" cols="30" rows="4" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn btn-primary">
                            </div>

                        </form>
                    </div>
                </div>

            </div>

            <!-- END main-content -->


        </div>
    </div>
</section>
{% endblock %}
{% block scriptBlock %}
<script>
    let like = document.querySelector("#like");
    let imgState = document.querySelector("#imgState");
    let imgAdd = document.createElement("img");
    likeState = like.textContent;

    getFirstValue(likeState,1);

    like.addEventListener('click', (ev)=>{
        console.log('addEventListener')
        if(like.textContent=='like')
        {
            AffectLike();
            getFirstValue('like',0);
        }
        else if(like.textContent=='dislike')
        {
            AffectDislike();
            getFirstValue('dislike',0);
        } 
    });

    // function chooseReact()
    // {
    //     console.log("done");
    //     let pick = document.createElement('p');
    //     let like = document.createElement('span');
    //     let dislike = document.createElement('span');
    //     pick.appendChild(like);
    //     pick.appendChild(dislike);
    //     like.appendChild(pick);
    //     pick.style.zIndex="1";
    // }
    
    function AffectLike()
    {
        imgAdd.src="{% static 'publicStatic/images/dislike2.png' %}";
        imgAdd.width="20";
        imgAdd.hieght="20";
        imgState.insertBefore(imgAdd, imgState.firstChild);
    }
    function AffectDislike()
    {
        imgAdd.src="{% static 'publicStatic/images/like.png' %}";
        imgAdd.width="20";
        imgAdd.hieght="20";
        imgState.insertBefore(imgAdd, imgState.firstChild);
    }

    function getFirstValue(reactStatex, refreshx)
    {
        postId='{{post.id}}';
        userId='{{request.user}}';
        const Http = new XMLHttpRequest();
        const url=`/posts/like?postId=${postId}&reactStatex=${reactStatex}&refreshx=${refreshx}`;
        // const url=`/posts/like/${postId}/${userId}/${reactStatex}/${refreshx}`;
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = (e) => {
          // console.log(Http.response)
            if (Http.readyState==4 && Http.status==200)
            {
                let likeStatex = Http.response
                if(likeStatex=='like')
                {
                    console.log(likeStatex);
                    like.textContent='dislike';
                }
                else if(likeStatex=='dislike')
                {
                    console.log(likeStatex);
                    like.textContent='like';
                }
                Http.abort();
            }
        }
    }
</script>

{% endblock %}